@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500&amp;display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  scroll-behavior: smooth;
}

section {
  width: 100%;
}

h1,
h2 {
  line-height: normal !important;
}

h3,
p {
  font-family: 'Palanquin';
}

.pending {
  color: #e9a52b;
}
.success {
  color: #4ecb71;
}
.failed {
  color: #d34053;
}

#heroSection {
  background-image: linear-gradient(
    70deg,
    #000000,
    #050812,
    #000000,
    #000615,
    #000000
  );
}

.slideLoad {
  transition: all ease-in-out 0.5s;
  animation: toNfro 4s linear 0s infinite;
  position: fixed;
  left: 0;
  bottom: 0;
}

@keyframes toNfro {
  0% {
    width: 0%;
    left: 0%;
  }
  50% {
    width: 70%;
    left: 100%;
  }
  100% {
    width: 0%;
    left: 0%;
  }
}

.scaleWrp {
  animation: scale 20s linear 0s infinite;
  z-index: 10;
}

@keyframes scale {
  0% {
    scale: 1.1;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

/* button styling */
.bigBtn {
  width: fit-content;
  background: #0036d8 !important;
  padding: 19px 40px;
  border-radius: 10px;
  color: #ffffff;
  transition: all ease-out 0.3s;
  transition-delay: 0.1s;
  font-size: 0.9rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.bigBtn svg {
  font-size: 1.2rem;
}

.bigBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #0085ff;
  transform: scaleX(0);
  transform-origin: 0;
  transition: all ease-in-out 0.3s;
  z-index: -1;
}

span.amount {
  font-family: Arial, Helvetica, sans-serif;
}

.bigBtn:hover:before,
.bigBtn:focus:before {
  transform: scaleX(1);
}

.spin {
  animation: spin 1s linear infinite;
  font-size: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer components {
  .max-ctn {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-900 pl-5 max-sm:p-4 outline-none sm:border-none border max-sm:border-slate-900 max-sm:rounded-full;
  }

  .editUserInput {
    @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  .editUserLabel {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }

  .primaryBtn {
    @apply text-white py-[18px] px-4 inline-block rounded-xl font-semibold text-sm bg-gray-900;
  }
}

@layer base {
  body {
    @apply font-satoshi font-normal text-base text-body bg-white relative z-1;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .pad {
    @apply sm:px-16 px-5 sm:py-24 py-12;
  }

  .pad-x {
    @apply sm:px-16 px-5;
  }

  .pad-y {
    @apply sm:py-24 py-12;
  }

  .pad-l {
    @apply sm:pl-16 pl-5;
  }

  .pad-r {
    @apply sm:pr-16 pr-5;
  }

  .pad-t {
    @apply sm:pt-24 pt-12;
  }

  .pad-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-900 text-lg leading-7;
  }

  .hd-text {
    @apply text-3xl font-semibold md:text-5xl;
  }

  .desc {
    @apply mb-6 max-w-[528px] text-xl md:mb-10 lg:mb-12;
  }

  .avatar {
    @apply inline-block h-12 w-12 rounded-full object-cover z-10;
  }

  .chat-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
  .inbox-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
}

/* third-party libraries CSS */

.tableCheckbox:checked ~ div span {
  @apply opacity-100;
}
.tableCheckbox:checked ~ div {
  @apply bg-primary border-primary;
}

.apexcharts-legend-text {
  @apply !text-body dark:!text-bodydark;
}
.apexcharts-text {
  @apply !fill-body dark:!fill-bodydark;
}
.apexcharts-xcrosshairs {
  @apply !fill-stroke dark:!fill-strokedark;
}
.apexcharts-gridline {
  @apply !stroke-stroke dark:!stroke-strokedark;
}
.apexcharts-series.apexcharts-pie-series path {
  @apply dark:!stroke-transparent;
}
.apexcharts-legend-series {
  @apply !inline-flex gap-1.5;
}
.apexcharts-tooltip.apexcharts-theme-light {
  @apply dark:!bg-boxdark dark:!border-strokedark;
}
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  @apply dark:!bg-meta-4 dark:!border-strokedark;
}
.apexcharts-xaxistooltip,
.apexcharts-yaxistooltip {
  @apply dark:!bg-meta-4 dark:!border-meta-4 dark:!text-bodydark1;
}
.apexcharts-xaxistooltip-bottom:after {
  @apply dark:!border-b-meta-4;
}
.apexcharts-xaxistooltip-bottom:before {
  @apply dark:!border-b-meta-4;
}

.flatpickr-day.selected {
  @apply bg-primary border-primary hover:bg-primary hover:border-primary;
}
.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  @apply fill-primary;
}
.flatpickr-calendar.arrowTop:before {
  @apply dark:!border-b-boxdark;
}
.flatpickr-calendar.arrowTop:after {
  @apply dark:!border-b-boxdark;
}
.flatpickr-calendar {
  @apply dark:!bg-boxdark dark:!text-bodydark dark:!shadow-8 !p-6 2xsm:!w-auto;
}
.flatpickr-day {
  @apply dark:!text-bodydark;
}
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  @apply !top-7 dark:!text-white dark:!fill-white;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  @apply !left-7;
}
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  @apply !right-7;
}
span.flatpickr-weekday,
.flatpickr-months .flatpickr-month {
  @apply dark:!text-white dark:!fill-white;
}
.flatpickr-day.inRange {
  @apply dark:!bg-meta-4 dark:!border-meta-4 dark:!shadow-7;
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.selected,
.flatpickr-day.endRange {
  @apply dark:!text-white;
}

.map-btn .jvm-zoom-btn {
  @apply flex items-center justify-center w-7.5 h-7.5 rounded border border-stroke dark:border-strokedark hover:border-primary dark:hover:border-primary bg-white hover:bg-primary text-body hover:text-white dark:text-bodydark dark:hover:text-white text-2xl leading-none px-0 pt-0 pb-0.5;
}
.mapOne .jvm-zoom-btn {
  @apply left-auto top-auto bottom-0;
}
.mapOne .jvm-zoom-btn.jvm-zoomin {
  @apply right-10;
}
.mapOne .jvm-zoom-btn.jvm-zoomout {
  @apply right-0;
}
.mapTwo .jvm-zoom-btn {
  @apply top-auto bottom-0;
}
.mapTwo .jvm-zoom-btn.jvm-zoomin {
  @apply left-0;
}
.mapTwo .jvm-zoom-btn.jvm-zoomout {
  @apply left-10;
}

.taskCheckbox:checked ~ .box span {
  @apply opacity-100;
}
.taskCheckbox:checked ~ p {
  @apply line-through;
}
.taskCheckbox:checked ~ .box {
  @apply bg-primary border-primary dark:border-primary;
}

.custom-input-date::-webkit-calendar-picker-indicator {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
.custom-input-date-1::-webkit-calendar-picker-indicator {
  background-image: url(./images/icon/icon-calendar.svg);
}
.custom-input-date-2::-webkit-calendar-picker-indicator {
  background-image: url(./images/icon/icon-arrow-down.svg);
}

[x-cloak] {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  #headlessui-portal-root .relative {
    margin: 20px 0 !important;
  }

  #headlessui-portal-root .relative span {
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width: 500px) {
  #slide {
    overflow: -moz-hidden-unscrollable;
  }
}

.skiptranslate iframe {
  display: none !important;
}

#google_translate_element {
  height: 35px;
  overflow: hidden;
  border-radius: 5px;
}

#google_translate_element select {
  padding: 5px 0 5px 10px;
  background: transparent;
  border: none;
  font-weight: 1.1rem;
  font-family: sans-serif;
}

#google_translate_element select option {
  color: black;
}

#google_translate_element select:first-child {
  color: white;
}

#google_translate_element span {
  display: none;
}
